
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4">POKEDEX</h1>
        <p class="lead">Vous trouverez ici la liste des pokémons que vous possédez.</p>
        <!-- Si survol n'est pas composé de 'Aucun' on mais une alert success et on affiche le nom récupérer -->
        <div class="alert {{survol==='Aucun'?'alert-danger':'alert-success'}} mt-3" role="alert">
            <h4 class="alert-heading">Pokémon survolé</h4>
            <hr>
            <p >{{survol}}</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card-deck row">
        <!-- On fait un lien avec input pour chaque pokemon, et on fait des lien avec des fonctions pour le survol -->
        <pkd-pokemon  (mouseleave)="survolLeave(pokemon.specie)" *ngFor="let pokemon of ListPokemon" [pokemon]='pokemon' (mouseover)="survolOver(pokemon.specie)" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 my-1"></pkd-pokemon>
    </div>
</div>